{% extends "layout.html" %}
{% block content %}
     <div class="container">
         <div class="" id="page-header">
            <div class="direction"><a href="{{ url_for('home') }}" class="page-header">Think of An Animal !</a></div>
         </div>
         <div class="form-section">
             <form method="post" action="">
                 {{form.hidden_tag()}}
                     <div class="form-group">
                         <div class="question-section">What is your animal?</div>
                         <div>{{form.animal_name(class="form-control-md")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.hair.label(class="form-control-label")}}</div>
                         <div class="col radio">{{form.hair(class="form-check-inline",
                            style="list-style:none; margin-right: 10px")}}</div>
                    </div>
                     <div class="row">
                         <div class="col label">{{form.feathers.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.feathers(class="form-check-inline",
                             style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.eggs.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.eggs(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.milk.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.milk(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.airborne.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.airborne(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.aquatic.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.aquatic(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.predator.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.predator(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.toothed.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.toothed(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.backbone.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.backbone(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.breathes.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.breathes(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.venomous.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.venomous(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.fins.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.fins(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.legs.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.legs(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.tail.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.tail(class="form-check-inline",
                                style="list-style:none")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.domestic.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.domestic(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.catsize.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.catsize(class="form-check-inline",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="row">
                         <div class="col label">{{form.class_type.label(class="form-check-label")}}</div>
                         <div class="col radio">{{form.class_type(class="form-check",
                                style="list-style:none; margin-right: 10px")}}</div>
                     </div>
                     <div class="form-group">
                          {{form.submit(class="btn btn-section")}}
                     </div>
            </form>
         </div>
     </div>
{% endblock %}