{% extends "layout.html" %}
{% block content %}

    <div class="p-5">
        {{question}}
        <br>
        <a href="{{ url_for('answer', user_input=True) }}">Yes</a>|
        <a href="{{ url_for('answer', user_input=False) }}">No</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">round: {{r}}</div>
            <div class="col-md-4">

                    {% for d in data %}
                        <br>{{d['animal_name']}}
                    {% endfor %}

            </div>
            <div class="col-md-4">{{query}}</div>
            <div class="col-md-4">{{viable_q}}</div>
        </div>


    </div>

{% endblock %}