body {
    background: #FCDDBC;
    font-family: Ubuntu, sans-serif;
    color: #E2505C;
    text-align: center;
}

.page-header {
    font-size: 60px;
    font-family: 'Berkshire Swash', sans-serif;
    margin: 20px;
    padding: 30px;
}

.btn-section {
    border: 2px solid #136F63;
    border-radius: 15px;
    font-size: larger;
    margin: 25px auto;
    color: #136F63;
    padding: 10px;
    text-align: center;
    position:relative;
}

.start-button{
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    font-weight: 900;
    text-decoration-style: double;
}

.box {
    border: 2px solid #136F63;
    border-radius: 15px;
    font-size: larger;
    width: 400px;
    margin: 25px auto;
    color: #136F63;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    position:relative
}

.bs2:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #136F63;
    border-top: 10px solid #136F63;
    border-bottom: 10px solid transparent;
    left: 20px;
    bottom: -20px;
}

.bs1:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border-left: 10px solid #136F63;
    border-right: 10px solid transparent;
    border-top: 10px solid #136F63;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 6px;
}

.bs3:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #136F63;
    border-top: 10px solid #136F63;
    border-bottom: 10px solid transparent;
    right: 10px;
    bottom: -10px;
}

.btn-section:hover{
    color: #FCDDBC;
    background-color: #136F63;
}

.answer-section {
    margin: 25px 25px 25px 400px;
}

.content-section {
    font-family: Ubuntu, sans-serif;
    color: #136F63;
    font-size: xx-large;
}

.form-section{
    background-color: #FCDDBC;
    border: #BAB2B5 solid 1px;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
}

.question-section {
    font-family: Ubuntu, sans-serif;
    color: #136F63;
    font-size: xx-large;
}

.round-section {
    text-align: center;
    margin-left: 200px;
}

.label{
    font-size: x-large;
}

.radio {

    padding: 5px;
    margin-left:25px;
    margin-right: 25px;
    color: #136F63;
}

.form-group {
    border-bottom: #FCD29F 1px dashed;
}