
:root {
    --bgcolor: #A4DEAB;
    --primary: #499E8D;
    --secondary: #FFF6C9;
}

body {
    background: var(--bgcolor);
    background-image: url("background.png");
    font-family: Ubuntu, sans-serif;
    color: var(--primary);
    padding-top: 20vh;
    padding-bottom: 10px;
    text-align: center;
    height: 100vh;
}

.content {
    min-height: 70vh;
}

.page-header {
    font-size: 70px;
    font-family: 'Indie Flower', sans-serif;
    text-shadow: 3px 3px grey;
    color: var(--primary);
}

.page-header:hover{
    text-decoration: none;
    color: var(--primary);
}

.direction{
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
}



.btn-section {
    border: 2px solid var(--primary);
    border-radius: 15px;
    font-size: larger;
    margin: 25px auto;
    color: var(--primary);
    padding: 10px;
    text-align: center;
    position:relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start-button{
    font-size: 50px;
    font-family: 'Indie Flower', sans-serif;
    color: var(--secondary);
    width: 50%;
    margin: auto;
}

.start-button:hover{
    text-decoration: none;
    color: var(--secondary);
}

.box {
    border: 2px solid var(--secondary);
    border-radius: 15px;
    font-size: larger;
    width: 60%;
    margin: auto;
    color: var(--secondary);
    padding: 20px;
    text-align: center;
    font-weight: 900;
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn-section:hover{
    color: #FCDDBC;
    background-color: var(--secondary);
}

.answer-section {
    margin: 25px 25px 25px 400px;
}

.content-section {
    font-family: Ubuntu, sans-serif;
    color: var(--secondary);
    font-size: xx-large;
}

.form-section{
    background-color: var(--secondary);
    opacity: 70%;
    border: #BAB2B5 solid 1px;
    border-radius: 5px;
    padding: 10px;
}

.question-section {
    font-family: Ubuntu, sans-serif;
    color: var(--primary);
    font-size: xx-large;
}

.round-section {
    text-align: right;
    width: 50%;
    padding-bottom: 20px;
    margin: auto;
}

.label{
    font-size: x-large;
}

.radio {
    padding: 5px;
    margin-left:25px;
    margin-right: 25px;
    color: var(--primary);
}

.form-group {
    border-bottom: var(--bgcolor) 1px dashed;
}

.form-control {
    color: var(--primary);
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    position: relative;
    padding: 10px;
    bottom: 5px;
    margin: auto;
    width: 99%;
    font-size: xx-small;
}

.copy-link {
    color: var(--secondary);
}

.copy-link:hover {
    color: var(--primary);
    text-decoration: none;
}

.alert {
    position: absolute;
    top: 0;
    right: 10px
}

